# Explicitly declare and isolate dependencies
# https://12factor.net/dependencies
fastapi
uvicorn[standard]
python-dotenv
SQLAlchemy
PyMySQL
cryptography
gunicorn
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis[hiredis]
requests
